/* Basic styling for body and layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#data-table th,
#data-table td {
    text-align: left;
}

/* Table Header Styling */
thead th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #ddd;
    z-index: 1;
}

/* Main layout with flexbox */
.main-content {
    display: flex;
    flex: 1;
    max-height: calc(100vh - 50px);
}

/* Hover effect for table rows */
.main-content table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Alternating row color */
}

/* Input Field Styling Above Headers */
thead th input {
    width: 90%;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

thead th input:focus {
    border-color: #28a745;
    outline: none;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-section {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}

.form-section .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.form-section .modal-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-section .modal-button:hover {
    background-color: #218838;
}

.table-section {
    flex: 3;
    overflow-x: auto;
    text-align: center;
}

#lostAssetsModal .modal-content {
    margin-top: 0;
    margin-left: 20%;
    max-width: 60%;
}

#lostAssetsModal table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#assetDescription {
    min-height: 50px;
    max-height: 200px;
    height: 200px;
}

#assetAddDescription {
    min-height: 50px;
    max-height: 250px;
    height: 250px;
}

#assetDescription::-webkit-scrollbar,
#assetAddDescription::-webkit-scrollbar {
    width: 10px;
}

#assetDescription::-webkit-scrollbar-thumb,
#assetAddDescription::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

#assetDescription::-webkit-scrollbar-thumb:hover,
#assetAddDescription::-webkit-scrollbar-thumb:hover {
    background-color: #218838;
}

/* Horizontal Navigation Bar Styles */
.horizontal-nav {
    background-color: #28a745;
    /* Green background for contrast */
    color: white;
    border-bottom: 2px solid #1e7e34;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Content Area */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.horizontal-nav ul li {
    margin: 0 20px;
}

.horizontal-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.horizontal-nav ul li a:hover {
    background-color: #1e7e34;
    /* Darker green for hover */
    border-radius: 5px;
    color: #f8f9fa;
}

/* Sample table styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

/* Custom Scrollbar */
.table-container {
    height: 78vh;
    /* Set height relative to viewport */
    max-height: 78vh;
    overflow-y: auto;
    overflow-x: auto;
}

.table-container::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #28a745;
}

#assetsModal .table-container {
    text-align: center;
    height: auto;
}

/* Left Sidebar Styles */
.left-nav {
    width: 290px;
    background-color: #f4f4f4;
    padding: 20px;
    padding-top: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 30px);
}

/* Custom Scrollbar for Left Navigation */
.left-nav::-webkit-scrollbar {
    width: 8px;
}

.left-nav::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

.left-nav::-webkit-scrollbar-thumb:hover {
    background-color: #1e7e34;
}

/* Left Navigation links */
.left-nav ul {
    list-style: none;
    padding: 0;
}

.left-nav ul li {
    margin: 15px 0;
}

/* Button Styles for Navigation Items */
.left-nav ul li button {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

/* Hover effect for navigation links */
.left-nav ul li button:hover {
    background-color: #28a745;
    /* Same green as top-nav */
    color: white;
    border-radius: 5px;
}

.left-nav button:hover .name-add {
    font-size: 0.8em;
    color: white;
}

/* Apply focus styles when the button or its parent retains focus */
.left-nav ul li button.focus-persistent {
    background-color: #28a745;
    /* Green color */
    color: white;
    /* White text */
    border-radius: 5px;
    /* Rounded corners */
}

.visualization-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Keeps space between elements */
    padding: 15px;
    /* Adjusted for consistent padding */
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #ffffff;
    /* Consider adding a background color for contrast */
}

.visualization-header h3 {
    margin-bottom: 0px;
}

.pagination .active .page-link {
    background-color: #4CAF50;
    color: white;
    border: black;
}

#pagination {
    margin-top: 16px;
    margin-bottom: 0px;
    color: black;
}

.ascending::after {
    content: " ↑";
}

.descending::after {
    content: " ↓";
}

table thead tr th label:hover {
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.modal.show {
    display: block;
    opacity: 1;
    /* Ensure it's visible when showing */
}

#addAssetsModal .modal-content {
    margin-top: 0;
}

/* Tooltip styling */
.tooltip-custom {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 10px);
    text-align: center;
}

.btn-container {
    position: relative;
    display: inline-block;
}

.btn-container:hover .tooltip-custom {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.modal-content {
    margin-top: 2%;
    margin-left: 27%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 45%;
    border-radius: 10px;
    text-align: left;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.modal-content.slide-in,
.modal-content-multi-calendar.slide-in,
.modal-content-report.slide-in,
.modal-content-mess.slide-in {
    animation: slideIn 0.4s forwards;
    /* Slide in animation */
}

.modal-content.slide-out,
.modal-content-multi-calendar.slide-out,
.modal-content-report.slide-out,
.modal-content-mess.slide-out {
    animation: slideOut 0.4s forwards;
    /* Slide out animation */
}

.header-modal-report {
    margin-bottom: 25px;
}

/* Flexbox for side-by-side calendars */
.calendar-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.calendar {
    margin: auto;
    width: 98%;
    max-width: 380px;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar nav {
    display: flex;
    align-items: center;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    /* Indicate clickable items */
}

#prev,
#next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before,
#next::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
    border-color: #000;
}

.days {
    font-weight: 600;
    margin-bottom: 0;
}

.dates li.inactive {
    color: #ccc;
}

.dates li.selected {
    color: #fff;
    /* Text color for selected date */
    border-radius: 50%;
    /* Make it circular */
    position: relative;
    /* Ensure correct positioning */
}

.dates li.selected::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
}

.show-date {
    display: none;
}

.modal-content-multi-calendar {
    margin-top: 5%;
    margin-left: 25%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
    /* Ensure it doesn't overflow on small screens */
    border-radius: 10px;
    text-align: center;
    position: relative;
    /* Positioning context for the close button */
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-multi-calendar.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.modal-content-report {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

/* Custom Scrollbar */
.modal-content-report .table-container {
    height: 30vh;
    /* Set height relative to viewport */
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: auto;
}

.disabled-select {
    pointer-events: none;
    /* Disable interactions */
    opacity: 0.5;
    /* Make it look disabled */
    background-color: #f0f0f0;
    /* Optional: Change background color */
    color: #888;
    /* Optional: Change text color */
}

.disabled-select:hover {
    cursor: not-allowed;
}

.modal-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 20%;
    /* Adjust as needed */
    height: auto;
    /* Keeps aspect ratio */
}

.modal-content-mess {
    margin-top: 10%;
    margin-left: 35%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 30%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-mess.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.modal-content-mess .button-container-mess {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Space between buttons */
    margin-top: 20px;
}

.modal-content-mess .button-container-mess .login-btn-mess {
    background-color: #28a745;
    /* Green background for confirm */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

.modal-content-mess .button-container-mess .confirm-btn:hover {
    background-color: #218838;
    /* Darker green on hover */
}

.disabled-item {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
}

/* Keyframes for sliding in and out */
@keyframes slideIn {
    from {
        transform: translateY(-200px);
        /* Start above */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* Slide into view */
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-200px);
        /* Slide out above */
        opacity: 0;
    }
}

.close-btn {
    position: absolute;
    /* Absolute positioning to place it at the top-right */
    top: 10px;
    /* Distance from the top */
    right: 10px;
    /* Distance from the right */
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

.virtual-warehouse-labels {
    display: flex;
    gap: 10px;
    /* Adjust the spacing between the labels as needed */
}

.modal-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.modal-button:hover {
    background-color: #218838;
}

.btn-add-type {

    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-type-soldier:hover {
    background-color: #218838;
}

#assetsModal table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.search-container {
    position: relative;
}

#assetDropdown,
#typeDropdown,
#locationDropdown,
#subLocationDropdown,
#addTypeDropdown,
#addLocationDropdown,
#addSubLocationDropdown,
#removeAssetTypeDropdown,
#lostAssetNameDropdown,
#assetLocationDropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
}

#assetDropdown li,
#typeDropdown li,
#locationDropdown li,
#subLocationDropdown li,
#addTypeDropdown li,
#addLocationDropdown li,
#addSubLocationDropdown li,
#removeAssetTypeDropdown li,
#lostAssetNameDropdown li,
#assetLocationDropdown li {
    padding: 10px;
    cursor: pointer;
}

#assetDropdown li:hover,
#typeDropdown li:hover,
#locationDropdown li:hover,
#subLocationDropdown li:hover,
#addTypeDropdown li:hover,
#addLocationDropdown li:hover,
#addSubLocationDropdown li:hover,
#removeAssetTypeDropdown li:hover,
#lostAssetNameDropdown li:hover,
#assetLocationDropdown li:hover {
    background-color: #218838;
    color: white;
}

#assetDropdown.list-group::-webkit-scrollbar,
#typeDropdown.list-group::-webkit-scrollbar,
#locationDropdown.list-group::-webkit-scrollbar,
#subLocationDropdown.list-group::-webkit-scrollbar,
#addTypeDropdown.list-group::-webkit-scrollbar,
#addLocationDropdown.list-group::-webkit-scrollbar,
#addSubLocationDropdown.list-group::-webkit-scrollbar,
#removeAssetTypeDropdown.list-group::-webkit-scrollbar,
#lostAssetNameDropdown.list-group::-webkit-scrollbar,
#assetLocationDropdown.list-group::-webkit-scrollbar {
    width: 10px;
}

#assetDropdown.list-group::-webkit-scrollbar-thumb,
#typeDropdown.list-group::-webkit-scrollbar-thumb,
#locationDropdown.list-group::-webkit-scrollbar-thumb,
#subLocationDropdown.list-group::-webkit-scrollbar-thumb,
#addTypeDropdown.list-group::-webkit-scrollbar-thumb,
#addLocationDropdown.list-group::-webkit-scrollbar-thumb,
#addSubLocationDropdown.list-group::-webkit-scrollbar-thumb,
#removeAssetTypeDropdown.list-group::-webkit-scrollbar-thumb,
#lostAssetNameDropdown.list-group::-webkit-scrollbar-thumb,
#assetLocationDropdown.list-group::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

#assetDropdown.list-group::-webkit-scrollbar-thumb:hover,
#typeDropdown.list-group::-webkit-scrollbar-thumb:hover,
#locationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#subLocationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#addTypeDropdown.list-group::-webkit-scrollbar-thumb:hover,
#addLocationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#addSubLocationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#removeAssetTypeDropdown.list-group::-webkit-scrollbar-thumb:hover,
#lostAssetNameDropdown.list-group::-webkit-scrollbar-thumb:hover,
#assetLocationDropdown.list-group::-webkit-scrollbar-thumb:hover {
    background-color: #1e7e34;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}