/* Basic styling for body and layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top Navigation Bar */
.top-nav {
    background-color: #28a745;
    /* Green for better contrast */
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Main layout with flexbox */
.main-content {
    display: flex;
    flex: 1;
}

/* Left Sidebar */
.left-nav {
    width: 18%;
    background-color: #f4f4f4;
    /* Light green background */
    padding: 20px;
    padding-top: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    scrollbar-width: auto; /* Firefox */
    scrollbar-color: #28a745 transparent;
    height: calc(100vh - 50px);
}

.left-nav .btn-container {
    background-color: #f4f4f4;
}

.transparent-bg {
    background-color: #f4f4f4;
}

.full-back {
    margin-right: 9px;
}

.button-group {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Show the button group on hover */
.list-group-item:hover .button-group {
    opacity: 1;
}

/* Custom Scrollbar for Left Navigation */
.left-nav::-webkit-scrollbar {
    width: 8px;
}

.left-nav::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

.left-nav::-webkit-scrollbar-thumb:hover {
    background-color: #1e7e34;
}

/* Left Navigation links */
.left-nav ul {
    list-style: none;
    padding: 0;
}

.left-nav ul li {
    margin: 15px 0;
}

.left-nav ul li button.main-button {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

/* Hover effect for the main button */
.left-nav ul li button.main-button:hover {
    background-color: #28a745;
    /* Same green as top-nav */
    color: white;
    border-radius: 5px;
}

.left-nav button.main-button:hover .name-add {
    font-size: 0.8em;
    color: white;
}

/* Content Area */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    max-height: calc(100vh - 50px);
}

/* Sample table styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#data-table th,
#data-table td {
    text-align: left;
}

/* Table Header Styling */
thead th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #ddd;
    z-index: 1;
}

/* Hover effect for table rows */
.main-content table tbody tr:hover,
#keyModal table tbody tr:hover,
#soldierListModal table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#soldierListModal .modal-content,
#upcomingActionSoldierListModal .modal-content {
    height: 80vh;
    margin-top: 0;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Alternating row color */
}

/* Input Field Styling Above Headers */
thead th input {
    width: 90%;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

thead th input:focus {
    border-color: #28a745;
    outline: none;
}

/* Horizontal Navigation Bar Styles */
.horizontal-nav {
    background-color: #28a745;
    /* Green background for contrast */
    color: white;
    border-bottom: 2px solid #1e7e34;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.horizontal-nav ul li {
    margin: 0 20px;
}

.horizontal-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.horizontal-nav ul li a:hover {
    background-color: #1e7e34;
    /* Darker green for hover */
    border-radius: 5px;
    color: #f8f9fa;
}

/* Custom Scrollbar */
.table-container {
    height: 78vh;
    /* Set height relative to viewport */
    max-height: 78vh;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: auto; /* Firefox */
    scrollbar-color: #28a745 transparent;
}

.table-container::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #28a745;
}

#keyModal .table-container {
    height: auto;
}

.undefined-data,
.undefined-data-soldier {
    font-weight: bold;
    color: green;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.modal.show {
    display: block;
    opacity: 1;
    /* Ensure it's visible when showing */
}

#reportViewModal.modal {
    padding-top: 25px;
}

.modal-content.slide-in,
.modal-content-view.slide-in,
.modal-content-multi-calendar.slide-in,
.modal-content-mess.slide-in {
    animation: slideIn 0.4s forwards;
    /* Slide in animation */
}

.modal-content.slide-out,
.modal-content-view.slide-out,
.modal-content-multi-calendar.slide-out,
.modal-content-mess.slide-out {
    animation: slideOut 0.4s forwards;
    /* Slide out animation */
}

#form3 {
    margin-left: 36%;
    max-width: 400px;
}

.modal-content {
    margin-top: 2%;
    margin-left: 27%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 45%;
    border-radius: 10px;
    text-align: left;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-multi-calendar {
    margin-top: 5%;
    margin-left: 25%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
    /* Ensure it doesn't overflow on small screens */
    border-radius: 10px;
    text-align: center;
    position: relative;
    /* Positioning context for the close button */
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-multi-calendar.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

/* Flexbox for side-by-side calendars */
.calendar-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.calendar {
    margin: auto;
    width: 98%;
    max-width: 380px;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar nav {
    display: flex;
    align-items: center;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    /* Indicate clickable items */
}

#next,
#prev,
#prevBtn,
#nextBtn,
#prevBtnDate,
#nextBtnDate,
#prevBtnSecond,
#nextBtnSecond,
#prevBtnTherd,
#nextBtnTherd,
#prevBtnFourth,
#nextBtnFourth {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#next::before,
#prev::before,
#prevBtn::before,
#nextBtn::before,
#prevBtnDate::before,
#nextBtnDate::before,
#prevBtnSecond::before,
#nextBtnSecond::before,
#prevBtnTherd::before,
#nextBtnTherd::before,
#prevBtnFourth::before,
#nextBtnFourth::before
 {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next::before,
#nextBtn::before,
#nextBtnDate::before,
#nextBtnSecond::before,
#nextBtnTherd::before,
#nextBtnFourth::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before,
#prevBtn::before,
#prevBtnDate::before,
#prevBtnSecond::before,
#prevBtnTherd::before,
#prevBtnFourth::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#next:hover::before,
#prev:hover::before,
#prevBtn:hover::before,
#nextBtn:hover::before,
#prevBtnDate:hover::before,
#nextBtnDate:hover::before,
#prevBtnSecond:hover:before,
#nextBtnSecond:hover:before,
#prevBtnTherd:hover::before,
#nextBtnTherd:hover::before,
#prevBtnFourth:hover::before,
#nextBtnFourth:hover::before {
    border-color: #000;
}

.days {
    font-weight: 600;
    margin-bottom: 0;
}

.dates li.inactive {
    color: #ccc;
}

.dates li.selected {
    color: #fff;
    /* Text color for selected date */
    border-radius: 50%;
    /* Make it circular */
    position: relative;
    /* Ensure correct positioning */
}

.dates li.selected::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
}

.show-date {
    display: none;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-section {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}

.form-section .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.form-section .modal-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-section .modal-button:hover {
    background-color: #218838;
}

.table-section {
    flex: 3;
    overflow-x: auto;
    text-align: center;
}

#additionalItemModal .modal-content {
    margin-top: 0;
    margin-left: 20%;
    max-width: 60%;
}

#additionalItemModal table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#additionalItemDescription {
    min-height: 50px;
    max-height: 200px;
    height: 200px;
}

#additionalItemDescription::-webkit-scrollbar {
    width: 10px;
}

#additionalItemDescription::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

#additionalItemDescription::-webkit-scrollbar-thumb:hover {
    background-color: #218838;
}

#form3.modal-content {
    margin-top: 5%;
}

.modal-content.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

/* Keyframes for sliding in and out */
@keyframes slideIn {
    from {
        transform: translateY(-200px);
        /* Start above */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* Slide into view */
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-200px);
        /* Slide out above */
        opacity: 0;
    }
}

.close-btn {
    position: absolute;
    /* Absolute positioning to place it at the top-right */
    top: 10px;
    /* Distance from the top */
    right: 10px;
    /* Distance from the right */
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
}

.modal h2 {
    margin-bottom: 30px;
}

#soldierListModal.modal h2,
#upcomingActionSoldierListModal.modal h2 {
    margin-bottom: 0;
}

.modal-labal-info {
    margin-bottom: 20px;
}

.modal-grid {
    display: grid;
    grid-template-columns: auto;
    /* Three columns: left label, symbol, right label */
    text-align: center;
    /* Centers the symbol in the middle column */
}

.round-symbol {
    font-size: 30px;
    /* Adjust size as needed */
}

.modal-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.modal-button:hover {
    background-color: #218838;
}

.visualization-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Keeps space between elements */
    padding: 15px;
    /* Adjusted for consistent padding */
    padding-top: 5px;
    background-color: #ffffff;
    /* Consider adding a background color for contrast */
}

.virtual-warehouse-labels {
    display: flex;
    gap: 10px;
    /* Space between labels */
    margin-left: auto;
    /* Pushes labels to the right */
}

.virtual-warehouse-label {
    background-color: #f0f0f0;
    /* Background color for labels */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    /* Dark text color for contrast */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
}

.name-add {
    font-size: 0.8em;
    color: #888;
}

/* Styling for the custom dropdown */
.search-container {
    position: relative;
}

#search-all-key-container {
    margin-left: 10px;
}

#soldierDropdown,
#soldierDropdownMove,
#bagDropdown,
#bagSoldierDropdown,
#bagEditSoldierDropdown,
#roomDropdown,
#keyDropdown,
#allKeyDropdown,
#buildDropdown,
#additionalItemSoldierDropdown,
#additionalBagCodeDropdown,
#upcomingAccommodationRoomDropdown,
#editUpcomingAccommodationRoomDropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: auto; /* Firefox */
    scrollbar-color: #28a745 transparent;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
}

#soldierDropdown li,
#soldierDropdownMove li,
#bagDropdown li,
#bagSoldierDropdown li,
#bagEditSoldierDropdown li,
#roomDropdown li,
#keyDropdown li,
#allKeyDropdown li,
#buildDropdown li,
#additionalItemSoldierDropdown li,
#additionalBagCodeDropdown li,
#upcomingAccommodationRoomDropdown li,
#editUpcomingAccommodationRoomDropdown li {
    padding: 10px;
    cursor: pointer;
}

#soldierDropdown li:hover,
#soldierDropdownMove li:hover,
#bagDropdown li:hover,
#bagSoldierDropdown li:hover,
#bagEditSoldierDropdown li:hover,
#roomDropdown li:hover,
#keyDropdown li:hover,
#allKeyDropdown li:hover,
#buildDropdown li:hover,
#additionalItemSoldierDropdown li:hover,
#additionalBagCodeDropdown li:hover,
#upcomingAccommodationRoomDropdown li:hover,
#editUpcomingAccommodationRoomDropdown li:hover {
    background-color: #218838;
    color: white;
}

.move-label {
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #218838;
}

.btn-report {
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-report:hover {
    background-color: #218838;
}

.btn-add-soldier {

    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-soldier:hover {
    background-color: #218838;
}

.btn-add-destination {

    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
}

.btn-add-destination:hover {
    background-color: #218838;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

.custom-progress {
    height: 20px;
    width: 0%;
    background-color: #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease;
}

.modal-content-view {
    margin-left: 7%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1500px;
    /* Ensure it doesn't overflow on small screens */
    border-radius: 10px;
    text-align: center;
    position: relative;
    /* Positioning context for the close button */
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-view.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.modal-content-view .table-container {
    max-height: 300px;
}

.modal-content-mess {
    margin-top: 10%;
    margin-left: 35%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 30%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-mess.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* Add space between the buttons */
    gap: 10px;
    /* Optional: adds space between buttons */
}

.modal-content-mess .button-container-mess {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Space between buttons */
    margin-top: 20px;
}

.modal-content-mess .button-container-mess .login-btn-mess {
    background-color: #28a745;
    /* Green background for confirm */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

.modal-content-mess .button-container-mess .confirm-btn:hover {
    background-color: #218838;
    /* Darker green on hover */
}

.modal-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 20%;
    /* Adjust as needed */
    height: auto;
    /* Keeps aspect ratio */
}

.visualization-header h3 {
    margin-bottom: 0px;
}

#soldierDropdown.list-group::-webkit-scrollbar,
#soldierDropdownMove.list-group::-webkit-scrollbar,
#bagDropdown.list-group::-webkit-scrollbar,
#bagSoldierDropdown.list-group::-webkit-scrollbar,
#bagEditSoldierDropdown.list-group::-webkit-scrollbar,
#roomDropdown.list-group::-webkit-scrollbar,
#keyDropdown.list-group::-webkit-scrollbar,
#allKeyDropdown.list-group::-webkit-scrollbar,
#buildDropdown.list-group::-webkit-scrollbar,
#additionalItemSoldierDropdown.list-group::-webkit-scrollbar,
#additionalBagCodeDropdown.list-group::-webkit-scrollbar,
#upcomingAccommodationRoomDropdown.list-group::-webkit-scrollbar,
#editUpcomingAccommodationRoomDropdown.list-group::-webkit-scrollbar {
    width: 10px;
}

#soldierDropdown.list-group::-webkit-scrollbar-thumb,
#soldierDropdownMove.list-group::-webkit-scrollbar-thumb,
#bagDropdown.list-group::-webkit-scrollbar-thumb,
#bagSoldierDropdown.list-group::-webkit-scrollbar-thumb,
#bagEditSoldierDropdown.list-group::-webkit-scrollbar-thumb,
#roomDropdown.list-group::-webkit-scrollbar-thumb,
#keyDropdown.list-group::-webkit-scrollbar-thumb,
#allKeyDropdown.list-group::-webkit-scrollbar-thumb,
#buildDropdown.list-group::-webkit-scrollbar-thumb,
#additionalItemSoldierDropdown.list-group::-webkit-scrollbar-thumb,
#additionalBagCodeDropdown.list-group::-webkit-scrollbar-thumb,
#upcomingAccommodationRoomDropdown.list-group::-webkit-scrollbar-thumb,
#editUpcomingAccommodationRoomDropdown.list-group::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

#soldierDropdown.list-group::-webkit-scrollbar-thumb:hover,
#soldierDropdownMove.list-group::-webkit-scrollbar-thumb:hover,
#bagDropdown.list-group::-webkit-scrollbar-thumb:hover,
#bagSoldierDropdown.list-group::-webkit-scrollbar-thumb:hover,
#bagEditSoldierDropdown.list-group::-webkit-scrollbar-thumb:hover,
#roomDropdown.list-group::-webkit-scrollbar-thumb:hover,
#keyDropdown.list-group::-webkit-scrollbar-thumb:hover,
#allKeyDropdown.list-group::-webkit-scrollbar-thumb:hover,
#buildDropdown.list-group::-webkit-scrollbar-thumb:hover,
#additionalItemSoldierDropdown.list-group::-webkit-scrollbar-thumb:hover,
#additionalBagCodeDropdown.list-group::-webkit-scrollbar-thumb:hover,
#upcomingAccommodationRoomDropdown.list-group::-webkit-scrollbar-thumb:hover,
#editUpcomingAccommodationRoomDropdown.list-group::-webkit-scrollbar-thumb:hover {
    background-color: #1e7e34;
}

.btn-free-soldier {

    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-free-soldier:hover {
    background-color: #b30000;
}

.code-style {
    color: red;
    font-weight: bold;
}

.modal-button-release {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.modal-button-release:hover {
    background-color: #b30000;
}

#deleteModal .modal-content {
    text-align: center;
}

.pagination .active .page-link {
    background-color: #4CAF50;
    color: white;
    border: black;
}

#pagination {
    margin-top: 16px;
    margin-bottom: 0px;
    color: black;
}

.ascending::after {
    content: " ↑";
}

.descending::after {
    content: " ↓";
}

.modal table thead tr {
    text-align: center;
}

@media (min-width: 1750px) {

    .modal-content-view {
        margin-left: 10%;
    }

    .table-container {
        height: 85vh;
    }

    .modal-content-view .table-container {
        max-height: 300px;
    }

    #form3 {
        margin-left: 40%;
        max-width: 400px;
    }
}


/* Keyframes for slide-down animation */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

/* Keyframes for slide-up animation */
@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

/* Toast Styling */
.custom-toast {
    background-color: #28a745 !important;
    /* Bootstrap success green */
    color: white;
    border-radius: 8px;
    padding: 12px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    /* Hide by default */
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    display: none;
}

/* Show Animation */
.custom-toast.show {
    opacity: 1;
    transform: translateY(0);
    display: block;
}

/* Hide Animation */
.custom-toast.hide {
    opacity: 0;
    transform: translateY(30px);
}

/* Info Icon Styling */
.toast-icon {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
}

.disabled-row {
    opacity: 0.5;
    position: relative;
}

#keyModal table tbody tr.disabled-row:hover {
    cursor: not-allowed;
}

.button-container-report {
    display: none;
}

/* Menu button (hamburger icon) */
.menu-toggle {
    display: none;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}

/* Menu button (hamburger icon) */
.menu-toggle-left {
    display: none;
    width: 100%;
    text-align: left;
    color: black;
    background-color: #e9f5e9c4;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

#allKeyDropdown li {
    font-size: 16px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Media Queries for mobile responsiveness */
@media screen and (max-width: 768px) {

    #search-all-key-container.search-container {
        margin: 0px;
        margin-bottom: 10px;
    }

    .col-md-auto {
        height: 100%;
    }

    #moveModal .modal-content {
        width: 100%;
        max-width: 350px;
        margin-left: 30px;
    }

    .download-btn {
        display: block;
        /* Show on mobile */
        flex: 1;
        padding: 5px 10px 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .modal-content-mess {
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .modal-content {
        width: 100%;
        max-width: 350px;
        margin-left: 5%;
    }

    #roomModal .modal-content {
        margin-top: 10%;
    }

    .button-container-report {
        display: flex;
        flex-direction: column;
        /* Stack buttons vertically */
        align-items: center;
        /* Center buttons horizontally (optional) */
    }

    .visualization-header h3 {
        margin-bottom: 15px;
        text-align: center;
    }

    .virtual-warehouse-labels {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
        text-align: center;
        width: 100%;
    }

    .virtual-warehouse-labels label {
        padding: 10px;
        font-size: 14px;
    }

    .visualization-header .row .col-md-auto h3 div {
        margin-bottom: 20px;
    }

    .modal-content-view {
        width: 350px;
        max-width: 350px;
        margin-left: 30px;
    }

    /* Adjust header and labels */
    .visualization-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        display: block;
    }

    /* Adjust buttons */
    .button-container-report {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin-top: 15px;
        width: 100%;
    }

    .btn-add-soldier,
    .btn-free-soldier,
    .btn-report {
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .btn-add-soldier.disabled-button {
        background-color: #ddd;
        cursor: not-allowed;
    }

    .modal-content-total-info {
        max-width: 400px;
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px;
    }

    .horizontal-nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #28a745;
    }

    .horizontal-nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
        width: 100%;
        text-align: left;
        padding: 15px;
    }

    .horizontal-nav ul.active {
        display: flex;
    }

    /* Stack content and sidebar vertically */
    .main-content {
        flex-direction: column;
    }

    /* Adjust font size and padding for better readability */
    .top-nav,
    .horizontal-nav ul li a {
        font-size: 1.2em;
        padding: 8px 10px;
    }

    .left-nav {
        display: none;
        width: auto;
        background-color: #f4f4f4;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    /* Add an active class to show the left-nav */
    .left-nav.active {
        display: block;
    }

    .left-nav ul.active {
        display: flex;
    }

    .button-group {
        opacity: 1;
    }

    .menu-toggle-left {
        display: block;
    }

    .menu-toggle-left:focus {
        outline: none;
    }

    /* Reduce padding in the content area for smaller screens */
    .content {
        padding: 10px;
        padding-top: 30px;
    }

    /* Adjust table layout for smaller screens */
    table,
    th,
    td {
        font-size: 0.9em;
        padding: 6px;
    }

    .table-container {
        max-height: 600px;
        height: 600px;
    }

    .pagination {
        padding-bottom: 16px;
    }

    #additionalItemModal .modal-content {
        width: 100%;
        max-width: 350px;
        margin: 10px auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    #additionalItemModal h2 {
        font-size: 20px;
        text-align: center;
    }

    #additionalItemModal .modal-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #additionalItemModal form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #additionalItemModal .form-control {
        font-size: 14px;
        padding: 8px;
    }

    #additionalItemModal .modal-button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    #additionalItemModal .table-section {
        width: 100%;
        overflow-x: auto;
        margin-top: 15px;
    }

    #additionalItemModal table {
        width: 100%;
        font-size: 12px;
    }

    #additionalItemModal th,
    #additionalItemModal td {
        padding: 6px;
        white-space: nowrap;
    }

    #additionalItemModal .search-container {
        margin-bottom: 10px;
    }

    #additionalItemModal .d-flex {
        justify-content: center;
        gap: 10px;
    }

    #additionalItemModal .close-btn {
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    #toggleFormButton.modal-button {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
        background-color: #28a745;
        /* Green button */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Ensure the form stays hidden initially */
    #form12.form-section {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .modal-content-multi-calendar {
        max-width: 95%;
        padding: 15px;
        margin-left: 10px;
    }

    .calendar-container {
        flex-direction: column;
        /* Stack calendars vertically on small screens */
        align-items: center;
    }

    .calendar {
        width: 90%;
        /* Take almost full width on small screens */
    }

    .calendar h3 {
        display: block;
    }

    .calendar th,
    .calendar td {
        padding: 5px;
        font-size: 12px;
        /* Smaller text size for small screens */
    }

    #confirmReportBtnAddSoldier,
    #confirmReportBtnAddMultiSoldier {
        margin: 0;
    }

    .btn-container:hover .tooltip-custom {
        display: none;
    }
}

#toggleFormButton {
    display: none;
    /* Hidden on larger screens */
}

/* Tooltip styling */
.tooltip-custom {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 10px);
    text-align: center;
}

.btn-container {
    position: relative;
    display: inline-block;
}

.btn-container:hover .tooltip-custom {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

#data-table thead tr th label:hover {
    cursor: pointer;
}

#addSoldierModal .modal-content {
    margin-top: 0px;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {

    .left-nav {
        width: 23%;
        /* Adjust sidebar width */
        height: 94vh;
        /* Ensure full height */
    }

    .content {
        padding: 15px;
        /* Adjust padding for better spacing */
    }

    .top-nav {
        font-size: 1.3em;
        /* Reduce font size slightly */
        padding: 0.8em;
    }

    .horizontal-nav ul li a {
        font-size: 1em;
        padding: 6px 10px;
    }

    .modal-content {
        max-width: 50%;
        /* Adjust modal width */
        margin-left: 25%;
    }

    #soldierListModal .modal-content,
    #upcomingActionSoldierListModal .modal-content {
        max-width: 90%;
        /* Adjust modal width */
        margin-left: 5%;
    }

    .virtual-warehouse-labels {
        display: grid;
        grid-template-columns: repeat(5, auto); /* Three main columns */
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .virtual-warehouse-labels label {
        display: none;
    }

    .modal-content-view {
        margin-left: 20px;
        margin-right: 20px;
    }

    .modal-content-view .table-container {
        max-height: 250px;
    }

    #roomModal,
    #addSoldierModal,
    #editSoldierModal {
        padding-top: 45px;
    }

    #additionalItemModal {
        padding-top: 20px;
    }

    #keyModal .modal-content {
        height: 70%;
    }
}