/* Basic styling for body and layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#data-table th,
#data-table td {
    text-align: left;
}

/* Table Header Styling */
thead th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #ddd;
    z-index: 1;
}

/* Main layout with flexbox */
.main-content {
    display: flex;
    flex: 1;
}

/* Hover effect for table rows */
.main-content table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Alternating row color */
}

/* Input Field Styling Above Headers */
thead th input {
    width: 90%;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

thead th input:focus {
    border-color: #28a745;
    outline: none;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-section {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}

.form-section .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.form-section .modal-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-section .modal-button:hover {
    background-color: #218838;
}

.table-section {
    flex: 3;
    overflow-x: auto;
    text-align: center;
}

#lostAssetsModal .modal-content {
    margin-top: 0;
    margin-left: 20%;
    max-width: 60%;
}

#lostAssetsModal table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#assetDescription {
    min-height: 50px;
    max-height: 200px;
    height: 200px;
}

#assetAddDescription {
    min-height: 50px;
    max-height: 250px;
    height: 250px;
}

#assetDescription::-webkit-scrollbar,
#assetAddDescription::-webkit-scrollbar,
.container::-webkit-scrollbar {
    width: 10px;
}

#assetDescription::-webkit-scrollbar-thumb,
#assetAddDescription::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

#assetDescription::-webkit-scrollbar-thumb:hover,
#assetAddDescription::-webkit-scrollbar-thumb:hover,
.container::-webkit-scrollbar-thumb:hover {
    background-color: #218838;
}

/* Horizontal Navigation Bar Styles */
.horizontal-nav {
    background-color: #28a745;
    /* Green background for contrast */
    color: white;
    border-bottom: 2px solid #1e7e34;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Content Area */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.horizontal-nav ul li {
    margin: 0 20px;
}

.horizontal-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.horizontal-nav ul li a:hover {
    background-color: #1e7e34;
    /* Darker green for hover */
    border-radius: 5px;
    color: #f8f9fa;
}

/* Sample table styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

/* Custom Scrollbar */
.table-container {
    height: 78vh;
    /* Set height relative to viewport */
    max-height: 78vh;
    overflow-y: auto;
    overflow-x: auto;
}

.table-container::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #28a745;
}

#assetsModal .table-container {
    text-align: center;
    height: auto;
}

/* Left Sidebar Styles */
.left-nav {
    width: 290px;
    background-color: #f4f4f4;
    padding: 20px;
    padding-top: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 50px);
}

/* Custom Scrollbar for Left Navigation */
.left-nav::-webkit-scrollbar {
    width: 8px;
}

.left-nav::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

.left-nav::-webkit-scrollbar-thumb:hover {
    background-color: #1e7e34;
}

/* Left Navigation links */
.left-nav ul {
    list-style: none;
    padding: 0;
}

.left-nav ul li {
    margin: 15px 0;
}

/* Button Styles for Navigation Items */
.left-nav ul li button {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

/* Hover effect for navigation links */
.left-nav ul li button:hover {
    background-color: #28a745;
    /* Same green as top-nav */
    color: white;
    border-radius: 5px;
}

.left-nav button:hover .name-add {
    font-size: 0.8em;
    color: white;
}

/* Apply focus styles when the button or its parent retains focus */
.left-nav ul li button.focus-persistent {
    background-color: #28a745;
    /* Green color */
    color: white;
    /* White text */
    border-radius: 5px;
    /* Rounded corners */
}

.visualization-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Keeps space between elements */
    padding: 15px;
    /* Adjusted for consistent padding */
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #ffffff;
    /* Consider adding a background color for contrast */
}

.visualization-header h3 {
    margin-bottom: 0px;
}

.pagination .active .page-link {
    background-color: #4CAF50;
    color: white;
    border: black;
}

#pagination {
    margin-top: 16px;
    margin-bottom: 0px;
    color: black;
}

.ascending::after {
    content: " ↑";
}

.descending::after {
    content: " ↓";
}

#data-table thead tr th label:hover {
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.modal.show {
    display: block;
    opacity: 1;
    /* Ensure it's visible when showing */
}

#addAssetsModal .modal-content {
    margin-top: 0;
}

/* Tooltip styling */
.tooltip-custom {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 10px);
    text-align: center;
}

.btn-container {
    position: relative;
    display: inline-block;
}

.btn-container:hover .tooltip-custom {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.modal-content {
    margin-top: 2%;
    margin-left: 27%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 45%;
    border-radius: 10px;
    text-align: left;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.modal-content.slide-in,
.modal-content-multi-calendar.slide-in,
.modal-content-report.slide-in,
.modal-content-mess.slide-in {
    animation: slideIn 0.4s forwards;
    /* Slide in animation */
}

.modal-content.slide-out,
.modal-content-multi-calendar.slide-out,
.modal-content-report.slide-out,
.modal-content-mess.slide-out {
    animation: slideOut 0.4s forwards;
    /* Slide out animation */
}

.header-modal-report {
    margin-bottom: 25px;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
}

/* Flexbox for side-by-side calendars */
.calendar-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.calendar {
    margin: auto;
    width: 98%;
    max-width: 380px;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar nav {
    display: flex;
    align-items: center;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    /* Indicate clickable items */
}

#prev,
#prevBtn,
#next,
#nextBtn,
#prevBtnDate,
#nextBtnDate,
#prevBtnSecond,
#nextBtnSecond,
#prevBtnTherd,
#nextBtnTherd,
#prevBtnFourth,
#nextBtnFourth,
#prevBtnFifth,
#nextBtnFifth,
#prevBtnSixth,
#nextBtnSixth {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before,
#prevBtn::before,
#next::before,
#nextBtn::before,
#prevBtnDate::before,
#nextBtnDate::before,
#prevBtnSecond::before,
#nextBtnSecond::before,
#prevBtnTherd::before,
#nextBtnTherd::before,
#prevBtnFourth::before,
#nextBtnFourth::before,
#prevBtnFifth::before,
#nextBtnFifth::before,
#prevBtnSixth::before,
#nextBtnSixth::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next::before,
#nextBtn::before,
#nextBtnDate::before,
#nextBtnSecond::before,
#nextBtnTherd::before,
#nextBtnFourth::before,
#nextBtnFifth::before,
#nextBtnSixth::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before,
#prevBtn::before,
#prevBtnDate::before,
#prevBtnSecond::before,
#prevBtnTherd::before,
#prevBtnFourth::before,
#prevBtnFifth::before,
#prevBtnSixth::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#prevBtn:hover::before,
#next:hover::before,
#nextBtn:hover::before,
#prevBtnDate:hover::before,
#nextBtnDate:hover::before,
#prevBtnSecond:hover::before,
#nextBtnSecond:hover::before,
#prevBtnTherd:hover::before,
#nextBtnTherd:hover::before,
#prevBtnFourth:hover::before,
#nextBtnFourth:hover::before,
#prevBtnFifth:hover::before,
#nextBtnFifth:hover::before,
#prevBtnSixth:hover::before,
#nextBtnSixth:hover::before {
    border-color: #000;
}

.days {
    font-weight: 600;
    margin-bottom: 0;
}

.dates li.inactive {
    color: #ccc;
}

.dates li.selected {
    color: #fff;
    /* Text color for selected date */
    border-radius: 50%;
    /* Make it circular */
    position: relative;
    /* Ensure correct positioning */
}

.dates li.selected::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
}

.show-date {
    display: none;
}

.modal-content-multi-calendar {
    margin-top: 5%;
    margin-left: 25%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
    /* Ensure it doesn't overflow on small screens */
    border-radius: 10px;
    text-align: center;
    position: relative;
    /* Positioning context for the close button */
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-multi-calendar.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.modal-content-report {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

/* Custom Scrollbar */
.modal-content-report .table-container {
    height: 30vh;
    /* Set height relative to viewport */
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: auto;
}

.disabled-select {
    pointer-events: none;
    /* Disable interactions */
    opacity: 0.5;
    /* Make it look disabled */
    background-color: #f0f0f0;
    /* Optional: Change background color */
    color: #888;
    /* Optional: Change text color */
}

.disabled-select:hover {
    cursor: not-allowed;
}

.modal-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 20%;
    /* Adjust as needed */
    height: auto;
    /* Keeps aspect ratio */
}

.modal-content-mess {
    margin-top: 10%;
    margin-left: 35%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 30%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transform: translateY(-200px);
    /* Initial position for sliding */
    opacity: 0;
    /* Hidden initially */
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Slide and fade effect */
}

.modal-content-mess.show {
    transform: translateY(0);
    /* Slide into view */
    opacity: 1;
}

.modal-content-mess .button-container-mess {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Space between buttons */
    margin-top: 20px;
}

.modal-content-mess .button-container-mess .login-btn-mess {
    background-color: #28a745;
    /* Green background for confirm */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

.modal-content-mess .button-container-mess .confirm-btn:hover {
    background-color: #218838;
    /* Darker green on hover */
}

.disabled-item {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
}

/* Keyframes for sliding in and out */
@keyframes slideIn {
    from {
        transform: translateY(-200px);
        /* Start above */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* Slide into view */
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-200px);
        /* Slide out above */
        opacity: 0;
    }
}

.close-btn {
    position: absolute;
    /* Absolute positioning to place it at the top-right */
    top: 10px;
    /* Distance from the top */
    right: 10px;
    /* Distance from the right */
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

.virtual-warehouse-labels {
    display: flex;
    gap: 10px;
    /* Adjust the spacing between the labels as needed */
    margin-left: auto;
}

.modal-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.modal-button:hover {
    background-color: #218838;
}

.btn-add-type {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-type:hover {
    background-color: #218838;
}

#assetsModal table tbody tr:hover,
#cleanItemListModal table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.search-container {
    position: relative;
}

#assetDropdown,
#typeDropdown,
#locationDropdown,
#subLocationDropdown,
#addTypeDropdown,
#addLocationDropdown,
#addSubLocationDropdown,
#removeAssetTypeDropdown,
#lostAssetNameDropdown,
#assetLocationDropdown,
#removeCleanItemDropdown,
#editCleanItemDropdown,
#allAssetDropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
}

#assetDropdown li,
#typeDropdown li,
#locationDropdown li,
#subLocationDropdown li,
#addTypeDropdown li,
#addLocationDropdown li,
#addSubLocationDropdown li,
#removeAssetTypeDropdown li,
#lostAssetNameDropdown li,
#assetLocationDropdown li,
#removeCleanItemDropdown li,
#editCleanItemDropdown li,
#allAssetDropdown li {
    padding: 10px;
    cursor: pointer;
}

#assetDropdown li:hover,
#typeDropdown li:hover,
#locationDropdown li:hover,
#subLocationDropdown li:hover,
#addTypeDropdown li:hover,
#addLocationDropdown li:hover,
#addSubLocationDropdown li:hover,
#removeAssetTypeDropdown li:hover,
#lostAssetNameDropdown li:hover,
#assetLocationDropdown li:hover,
#removeCleanItemDropdown li:hover,
#editCleanItemDropdown li:hover,
#allAssetDropdown li:hover {
    background-color: #218838;
    color: white;
}

#assetDropdown.list-group::-webkit-scrollbar,
#typeDropdown.list-group::-webkit-scrollbar,
#locationDropdown.list-group::-webkit-scrollbar,
#subLocationDropdown.list-group::-webkit-scrollbar,
#addTypeDropdown.list-group::-webkit-scrollbar,
#addLocationDropdown.list-group::-webkit-scrollbar,
#addSubLocationDropdown.list-group::-webkit-scrollbar,
#removeAssetTypeDropdown.list-group::-webkit-scrollbar,
#lostAssetNameDropdown.list-group::-webkit-scrollbar,
#assetLocationDropdown.list-group::-webkit-scrollbar,
#removeCleanItemDropdown.list-group::-webkit-scrollbar,
#editCleanItemDropdown.list-group::-webkit-scrollbar,
#allAssetDropdown.list-group::-webkit-scrollbar {
    width: 10px;
}

#assetDropdown.list-group::-webkit-scrollbar-thumb,
#typeDropdown.list-group::-webkit-scrollbar-thumb,
#locationDropdown.list-group::-webkit-scrollbar-thumb,
#subLocationDropdown.list-group::-webkit-scrollbar-thumb,
#addTypeDropdown.list-group::-webkit-scrollbar-thumb,
#addLocationDropdown.list-group::-webkit-scrollbar-thumb,
#addSubLocationDropdown.list-group::-webkit-scrollbar-thumb,
#removeAssetTypeDropdown.list-group::-webkit-scrollbar-thumb,
#lostAssetNameDropdown.list-group::-webkit-scrollbar-thumb,
#assetLocationDropdown.list-group::-webkit-scrollbar-thumb,
#removeCleanItemDropdown.list-group::-webkit-scrollbar-thumb,
#editCleanItemDropdown.list-group::-webkit-scrollbar-thumb,
#allAssetDropdown.list-group::-webkit-scrollbar-thumb {
    background-color: #28a745;
    border-radius: 4px;
}

#assetDropdown.list-group::-webkit-scrollbar-thumb:hover,
#typeDropdown.list-group::-webkit-scrollbar-thumb:hover,
#locationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#subLocationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#addTypeDropdown.list-group::-webkit-scrollbar-thumb:hover,
#addLocationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#addSubLocationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#removeAssetTypeDropdown.list-group::-webkit-scrollbar-thumb:hover,
#lostAssetNameDropdown.list-group::-webkit-scrollbar-thumb:hover,
#assetLocationDropdown.list-group::-webkit-scrollbar-thumb:hover,
#removeCleanItemDropdown.list-group::-webkit-scrollbar-thumb:hover,
#editCleanItemDropdown.list-group::-webkit-scrollbar-thumb:hover,
#allAssetDropdown.list-group::-webkit-scrollbar-thumb:hover {
    background-color: #1e7e34;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #28a745;
    /* Vibrant blue for visibility */
    color: white;
    /* Contrasting text color */
    padding: 12px 18px;
    /* Larger padding for better click area */
    font-size: 16px;
    /* Slightly larger font size */
    border: none;
    /* Remove the border for a cleaner look */
    border-radius: 8px;
    /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Smooth transition for hover effect */
}

.dropdown-button:hover {
    background-color: #218838;
    /* Darker blue for hover */
    transform: scale(1.05);
    /* Slightly enlarge on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow for depth */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* Bright white for contrast */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    /* More pronounced shadow */
    z-index: 2;
    padding: 15px;
    /* Increased padding for better spacing */
    border: 1px solid #28a745;
    /* Border color matches the button for cohesion */
    border-radius: 8px;
    /* Rounded corners for a modern look */
    min-width: 200px;
    /* Set a minimum width for consistency */
}

.dropdown-content label {
    display: block;
    padding: 8px 12px;
    /* Spacing around each label for clarity */
    font-size: 14px;
    color: #333;
    /* Darker text for better readability */
    cursor: pointer;
    /* Pointer cursor for clickable labels */
    border-radius: 4px;
    /* Slight rounding for each label */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Smooth hover effect */
}

.dropdown-content label:hover {
    background-color: #28a745;
    /* Highlight background */
    color: #fff;
    /* Change text color to white */
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}

.column-toggle:checked {
    accent-color: #218838;
    /* Changes the checkbox color to green */
}

/* Toast Styling */
.custom-toast {
    background-color: #28a745 !important;
    /* Bootstrap success green */
    color: white;
    border-radius: 8px;
    padding: 12px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    /* Hide by default */
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    display: none;
}

/* Show Animation */
.custom-toast.show {
    opacity: 1;
    transform: translateY(0);
    display: block;
}

/* Hide Animation */
.custom-toast.hide {
    opacity: 0;
    transform: translateY(30px);
}

/* Info Icon Styling */
.toast-icon {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

/* Menu button (hamburger icon) */
.menu-toggle {
    display: none;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}

/* Menu button (hamburger icon) */
.menu-toggle-left {
    display: none;
    width: 100%;
    text-align: left;
    color: black;
    background-color: #e9f5e9c4;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.button-container-report {
    display: none;
}

#cleanItemListModal .modal-content,
#itemTraceabilityModal .modal-content {
    max-height: 100vh;
    margin-top: 0;
}

#cleanItemListModal.modal h2 {
    margin-bottom: 0;
}

/* Default icon (desktop) */
.icon-desktop {
    display: inline;
}

.icon-mobile {
    display: none;
}

#largeWorkhouse thead tr th,
#smallWorkhouse thead tr th {
    position: static;
    top: 0;
}

#largeWorkhouse tbody tr td,
#smallWorkhouse tbody tr td {
    border: none;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

.custom-progress {
    height: 20px;
    width: 0%;
    background-color: #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease;
}

/* Media Queries for mobile responsiveness */
@media screen and (max-width: 768px) {

    #search-all-key-container.search-container {
        margin: 0px;
        margin-bottom: 10px;
    }

    .col-md-auto {
        height: 100%;
    }

    .download-btn {
        display: block;
        /* Show on mobile */
        flex: 1;
        padding: 5px 10px 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;
    }

    .modal-content-mess {
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .modal-content {
        width: 100%;
        max-width: 350px;
        margin-left: 5%;
    }

    .button-container-report {
        display: flex;
        flex-direction: column;
        /* Stack buttons vertically */
        align-items: center;
        /* Center buttons horizontally (optional) */
    }

    .visualization-header h3 {
        margin-bottom: 15px;
        text-align: center;
    }

    #cleanItemListModal .virtual-warehouse-labels {
        margin-top: 20px;
    }

    .virtual-warehouse-labels {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
        text-align: center;
        width: 100%;
    }

    .virtual-warehouse-labels label {
        padding: 10px;
        font-size: 14px;
    }

    .visualization-header .row .col-md-auto h3 div {
        margin-bottom: 20px;
    }

    .modal-content-view {
        width: 350px;
        max-width: 350px;
        margin-left: 30px;
    }

    /* Adjust header and labels */
    .visualization-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        display: block;
    }

    /* Adjust buttons */
    .button-container-report {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        width: 100%;
    }

    .btn-add-soldier,
    .btn-free-soldier,
    .btn-report {
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .btn-add-soldier.disabled-button {
        background-color: #ddd;
        cursor: not-allowed;
    }

    .modal-content-total-info {
        max-width: 400px;
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 30px;
    }

    .horizontal-nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #28a745;
    }

    .horizontal-nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
        width: 100%;
        text-align: left;
        padding: 15px;
    }

    .horizontal-nav ul.active {
        display: flex;
    }

    /* Stack content and sidebar vertically */
    .main-content {
        flex-direction: column;
    }

    /* Adjust font size and padding for better readability */
    .top-nav,
    .horizontal-nav ul li a {
        font-size: 1.2em;
        padding: 8px 10px;
    }

    .left-nav {
        display: none;
        width: auto;
        background-color: #f4f4f4;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    /* Add an active class to show the left-nav */
    .left-nav.active {
        display: block;
    }

    .left-nav ul.active {
        display: flex;
    }

    .button-group {
        opacity: 1;
    }

    .menu-toggle-left {
        display: block;
    }

    .menu-toggle-left:focus {
        outline: none;
    }

    /* Reduce padding in the content area for smaller screens */
    .content {
        padding: 10px;
        padding-top: 30px;
    }

    /* Adjust table layout for smaller screens */
    table,
    th,
    td {
        font-size: 0.9em;
        padding: 6px;
    }

    .table-container {
        max-height: 600px;
        height: 600px;
        overflow-y: auto;
    }

    .pagination {
        padding-bottom: 16px;
    }

    #additionalItemModal .modal-content {
        width: 100%;
        max-width: 350px;
        margin: 10px auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    #additionalItemModal h2 {
        font-size: 20px;
        text-align: center;
    }

    #additionalItemModal .modal-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #additionalItemModal form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #additionalItemModal .form-control {
        font-size: 14px;
        padding: 8px;
    }

    #additionalItemModal .modal-button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    #additionalItemModal .table-section {
        width: 100%;
        overflow-x: auto;
        margin-top: 15px;
    }

    #additionalItemModal table {
        width: 100%;
        font-size: 12px;
    }

    #additionalItemModal th,
    #additionalItemModal td {
        padding: 6px;
        white-space: nowrap;
    }

    #additionalItemModal .search-container {
        margin-bottom: 10px;
    }

    #additionalItemModal .d-flex {
        justify-content: center;
        gap: 10px;
    }

    #additionalItemModal .close-btn {
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    #toggleFormButton.modal-button {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
        background-color: #28a745;
        /* Green button */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Ensure the form stays hidden initially */
    #form12.form-section {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .modal-content-multi-calendar {
        max-width: 95%;
        padding: 15px;
        margin-left: 10px;
    }

    .calendar-container {
        flex-direction: column;
        /* Stack calendars vertically on small screens */
        align-items: center;
    }

    .calendar {
        width: 90%;
        /* Take almost full width on small screens */
    }

    .calendar h3 {
        display: block;
    }

    .calendar th,
    .calendar td {
        padding: 5px;
        font-size: 12px;
        /* Smaller text size for small screens */
    }

    .dropdown-content {
        right: 0;
    }

    .btn-container:hover .tooltip-custom {
        display: none;
    }

    .icon-desktop {
        display: none;
    }

    .icon-mobile {
        display: inline;
    }

    #cleanItemListModal .modal-content,
    #itemTraceabilityModal .modal-content {
        max-height: 200vh;
        height: auto;
        margin-top: 0;
    }
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
    .left-nav {
        width: 20%;
        /* Adjust sidebar width */
        height: 100vh;
        /* Ensure full height */
    }

    .content {
        padding: 15px;
        /* Adjust padding for better spacing */
        height: calc(100vh - 230px);
        /* Adjust height */
    }

    .top-nav {
        font-size: 1.3em;
        /* Reduce font size slightly */
        padding: 0.8em;
    }

    .horizontal-nav ul li a {
        font-size: 1em;
        padding: 6px 10px;
    }

    .modal-content {
        max-width: 50%;
        /* Adjust modal width */
        margin-left: 25%;
    }

    #cleanItemListModal .modal-content {
        max-width: 70%;
        max-height: 85vh;
        /* Adjust modal width */
        margin-left: 16%;
    }

    #itemTraceabilityModal .modal-content {
        max-width: 80%;
        max-height: 85vh;
        /* Adjust modal width */
        margin-left: 12%;
    }

    .container {
        width: 100%;
        overflow-y: auto;
    }

    #reportViewModal,
    #editAssetsModal {
        padding-top: 40px;
    }

    #lostAssetsModal {
        padding-top: 20px;
    }
}